.App {
  display: flex;
  .page-container{
    width: 100%;
    .page-outlet{
      padding: 20px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App-logo-spin infinite 20s linear;
  }
}
